{{- $context := .Context -}}
{{- $taxonomy := index $context.Site.Taxonomies "tags" -}}
{{- $taxonomyPage := $taxonomy.Page -}}
{{- $limit := default 10 .Params.limit -}}

<section class="widget tags-widget">

    <div class="widget-icon">
        {{ partial "helper/icon" "tag" }}
    </div>

    <h2 class="widget-title section-title">
        {{ if $taxonomyPage }}
            <a href="{{ $taxonomyPage.RelPermalink }}">
                {{ T "widget.tagCloud.title" }}
            </a>
        {{ else }}
            {{ T "widget.tagCloud.title" }}
        {{ end }}
    </h2>

    <div class="tags-cloud">

        {{ range first $limit $taxonomy.ByCount }}

            <a
                class="tag-item"
                data-name="{{ .Page.Title }}"
                href="{{ .Page.RelPermalink }}"
            >
                {{ .Page.Title }}
            </a>

        {{ end }}

    </div>

</section>