<div class="trip-route1">

    <div class="trip-route-day">
        <div class="trip-route-title">☀️ 星期日</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">🚄 台中高鐵站</span>
        </div>

        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">🏞️ 清境</span>
        </div>

        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">🚌 6658A</span>
        </div>

        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">⛰️ 武嶺</span>
        </div>

        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step trip-route-optional">
            <span class="trip-route-icon">🥾 石門山或合歡尖山</span>
            <small>視時間、天氣決定</small>
        </div>

        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">🏠 松雪樓住宿</span>
        </div>
    </div>


    <div class="trip-route-day">
        <div class="trip-route-title">🌅 星期一</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">🏠 松雪樓住宿</span>
        </div>
        
        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">🥾 合歡北峰／合歡山</span>
        </div>

        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">⛰️ 武嶺</span>
        </div>

        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">🚌 6658A</span>
        </div>

        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">🏞️ 清境</span>
        </div>

        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">🚄 台中高鐵站</span>
        </div>

        <div class="trip-route-arrow">↓</div>

        <div class="trip-route-step">
            <span class="trip-route-icon">🏠 新竹</span>
        </div>
    </div>

</div>
<p class="trip-note">
※ 原本的安排是這樣，但最後所有大眾運輸工具都改成自己開車。。
</p>